@font-face{
  font-family: "Capture It";
  src: url("../fonts/captureit.ttf");
}
body {
  background: #eeeeee;
  font-family: "Capture It",tahoma, verdana, "sans serif";
  letter-spacing: 1px;
  margin: 0 auto;
}
#canvas-container {
  position: absolute;
  z-index: 0;
  background: black;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

canvas {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

#overlay {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
#ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;

  color: black;
}

#controls {
  position: relative;
  margin-right: auto;
  margin-left: 5%;
  border: 4px solid rgb(128, 0, 0);
}

#selectors {
  color: white;
  position: relative;

  padding: 20px;
  width: 200px;
  background: rgb(105, 105, 105);
  border-radius: 5px;
}

#checkboxes {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  text-align: left;
}

#checkboxes p {
  width: 50%;
  font-size: 14px;
}

#extra {
  position: relative;
  width: 100px;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 120px;
  margin-right: 10%;
}

#sliders {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

#sliders p {
  font-size: 14px;
  width: 90px;
  height: 10px;
}

#songs {
  padding-top: 20px;
  text-align: left;
}
label {
  font-size: 20px;
  line-height: 25px;
}

#sliders input {
  left: 50px;
  width: 100px;
}

#ctrl-loop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

audio {
  width: 280px;
}

#status {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  border-radius: 10px;
}

button {
  background-color: rgb(105, 105, 105);
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  padding: 15px 40px;
  border: none;
  white-space: nowrap;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
  cursor: pointer;
  background-color: rgb(128, 0, 0);
}
